aiohttp==3.8.5
aiosignal==1.3.1
altair==5.1.1
annotated-types==0.5.0
anyio==4.0.0
async-timeout==4.0.3
attrs==23.1.0
bardapi==0.1.33
beautifulsoup4==4.12.2
blinker==1.6.2
browser-cookie3==0.19.1
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
cloudevents==1.9.0
colorama==0.4.6
deep-translator==1.11.4
deprecation==2.1.0
EasyProcess==1.1
entrypoint2==1.1
Flask==2.3.3
frozenlist==1.4.0
functions-framework==3.4.0
gitdb==4.0.10
GitPython==3.1.34
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-core==2.3.3
google-cloud-translate==3.12.0
googleapis-common-protos==1.60.0
grpcio==1.57.0
grpcio-status==1.57.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.3
httpx==0.24.1
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
langdetect==1.0.9
lz4==4.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
MouseInfo==0.1.3
mss==9.0.1
multidict==6.0.4
numpy==1.25.2
openai==0.27.10
packaging==23.1
pandas==2.1.0
Pillow==9.5.0
proto-plus==1.22.3
protobuf==4.24.2
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pycryptodomex==3.18.0
pydantic==2.3.0
pydantic_core==2.6.3
pydeck==0.8.0
PyGetWindow==0.0.9
Pygments==2.16.1
Pympler==1.0.1
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
python-dateutil==2.8.2
python-dotenv==1.0.0
pytweening==1.0.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
referencing==0.30.2
requests==2.31.0
rich==13.5.2
rpds-py==0.10.0
rsa==4.9
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.5
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.3.0
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
tqdm==4.66.1
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
urllib3==1.26.16
validators==0.22.0
watchdog==3.0.0
Werkzeug==2.3.7
wikipedia==1.4.0
yarl==1.9.2
yaspin==3.0.0
zipp==3.16.2
