/* styles.css */
.customization-bubble {
    position: fixed;
    bottom: 100px; /* You can adjust this based on your layout */
    left: 30px; /* Adjust this to set horizontal positioning */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px; /* Or desired width */
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
  }
  
  .customization-bubble label {
    display: block;
    text-align: left;
    margin-right: 10px; /* adjust this value as needed */
  }

  
  .show-bubble {
    transform: translateZ(0);
    visibility: visible;
  }

  .bubble-toggle-button {
    position: fixed;
    bottom: 10px;
    left: 30px;
    cursor: pointer;
  }
  
  /* styles.css */

.dots {
  background: repeating-radial-gradient(black 0%, black 5%, white 5%, white 10%);
}

.stripes {
  background: repeating-linear-gradient(45deg, black, black 10px, white 10px, white 20px);
}
